In [1]:
import pyspark
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder \
    .master("local[*]") \
    .appName("test") \
    .getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/03/09 20:06:43 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
df_green = spark.read.parquet('data/pq/green/*/*')

In [4]:
df_yellow = spark.read.parquet('data/pq/yellow/*/*')

In [5]:
df_green = df_green \
            .withColumnRenamed('lpep_pickup_datetime','pickup_datetime') \
            .withColumnRenamed('lpep_dropoff_datetime','dropoff_datetime')

In [6]:
df_yellow = df_yellow \
            .withColumnRenamed('tpep_pickup_datetime','pickup_datetime') \
            .withColumnRenamed('tpep_dropoff_datetime','dropoff_datetime')

### 2: Finding common columns

In [7]:
set(df_green.columns) & set(df_yellow.columns)

{'DOLocationID',
 'PULocationID',
 'RatecodeID',
 'VendorID',
 'congestion_surcharge',
 'dropoff_datetime',
 'extra',
 'fare_amount',
 'improvement_surcharge',
 'mta_tax',
 'passenger_count',
 'payment_type',
 'pickup_datetime',
 'store_and_fwd_flag',
 'tip_amount',
 'tolls_amount',
 'total_amount',
 'trip_distance'}

In [8]:
common_colums = []

yellow_columns = set(df_yellow.columns)

for col in df_green.columns:
    if col in yellow_columns:
        common_colums.append(col)

In [9]:
print(common_colums)

['VendorID', 'pickup_datetime', 'dropoff_datetime', 'store_and_fwd_flag', 'RatecodeID', 'PULocationID', 'DOLocationID', 'passenger_count', 'trip_distance', 'fare_amount', 'extra', 'mta_tax', 'tip_amount', 'tolls_amount', 'improvement_surcharge', 'total_amount', 'payment_type', 'congestion_surcharge']

In [10]:
df_green.select(common_colums).show()

+--------+-------------------+-------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------------------+------------+------------+--------------------+
|VendorID|    pickup_datetime|   dropoff_datetime|store_and_fwd_flag|RatecodeID|PULocationID|DOLocationID|passenger_count|trip_distance|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|payment_type|congestion_surcharge|
+--------+-------------------+-------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------------------+------------+------------+--------------------+
|       1|2020-01-21 08:09:42|2020-01-21 08:24:52|                 N|         1|           7|          82|              1|          2.9|       14.0|  0.0|    0.5|       0.0|         0.0|                  0.3|        14.8|           2|                 0.0|
|       2|2020-01-28 19:42:20|2020-01-28 19:51:10|                 N|         1|          95|         196|              1|         1.35|        7.5|  1.0|    0.5|       0.0|         0.0|                  0.3|         9.3|           2|                 0.0|
|       1|2020-01-21 18:37:21|2020-01-21 18:54:06|                 N|         1|         244|          75|              1|          6.2|       19.0|  1.0|    0.5|       0.0|         0.0|                  0.3|        20.8|           2|                 0.0|
|       2|2020-01-08 12:58:33|2020-01-08 13:10:08|                 N|         1|          42|          75|              1|         1.64|        9.0|  0.0|    0.5|       0.0|         0.0|                  0.3|         9.8|           2|                 0.0|
|       2|2020-01-06 19:46:03|2020-01-06 19:51:46|                 N|         1|         146|           7|              1|         1.07|        6.0|  1.0|    0.5|      1.56|         0.0|                  0.3|        9.36|           1|                 0.0|
|       2|2020-01-25 08:51:04|2020-01-25 08:59:32|                 N|         1|         127|         220|              1|         1.89|        8.5|  0.0|    0.5|       0.0|         0.0|                  0.3|         9.3|           2|                 0.0|
|       2|2020-01-08 21:34:13|2020-01-08 21:39:04|                 N|         1|          75|          75|              1|         0.62|        5.0|  0.5|    0.5|       0.0|         0.0|                  0.3|         6.3|           1|                 0.0|
|       2|2020-01-18 01:05:27|2020-01-18 01:10:43|                 N|         1|         166|         166|              2|         0.75|        5.0|  0.5|    0.5|       0.0|         0.0|                  0.3|         6.3|           2|                 0.0|
|       1|2020-01-22 21:40:43|2020-01-22 21:52:01|                 N|         1|         255|          37|              1|          2.0|        9.0|  0.5|    0.5|       0.0|         0.0|                  0.3|        10.3|           3|                 0.0|
|       2|2020-01-24 17:04:02|2020-01-24 17:15:11|                 N|         1|          83|         129|              1|         1.09|        8.0|  1.0|    0.5|      1.96|         0.0|                  0.3|       11.76|           1|                 0.0|
|       2|2020-01-08 15:04:27|2020-01-08 15:08:33|                 N|         1|          66|          33|              1|         0.69|        4.5|  0.0|    0.5|      1.06|         0.0|                  0.3|        6.36|           1|                 0.0|
|    NULL|2020-01-02 08:07:00|2020-01-02 08:35:00|              NULL|      NULL|          32|          96|           NULL|        15.88|      47.75| 2.75|    0.0|       0.0|        6.12|                  0.3|       56.92|        NULL|                NULL|
|       2|2020-01-18 17:07:01|2020-01-18 17:30:10|                 N|         1|         152|         243|              1|          2.8|       15.0|  0.0|    0.5|      3.16|         0.0|                  0.3|       18.96|           1|                 0.0|
|       2|2020-01-11 20:59:11|2020-01-11 21:04:08|                 N|         1|          25|         181|              1|          1.0|        5.5|  0.5|    0.5|       0.0|         0.0|                  0.3|         6.8|           2|                 0.0|
|       2|2020-01-12 01:59:05|2020-01-12 02:04:22|                 N|         1|         129|          82|              1|         0.77|        5.0|  0.5|    0.5|       0.0|         0.0|                  0.3|         6.3|           2|                 0.0|
|    NULL|2020-01-17 12:20:00|2020-01-17 12:49:00|              NULL|      NULL|         140|         217|           NULL|         7.13|      32.77| 2.75|    0.0|       0.0|         0.0|                  0.3|       35.82|        NULL|                NULL|
|    NULL|2020-01-03 14:27:00|2020-01-03 14:49:00|              NULL|      NULL|         140|         136|           NULL|         9.06|      27.13|  0.0|    0.0|       0.0|         0.0|                  0.3|       27.43|        NULL|                NULL|
|       2|2020-01-21 19:37:26|2020-01-21 19:47:32|                 N|         1|         226|           7|              2|         1.06|        8.0|  1.0|    0.5|       0.0|         0.0|                  0.3|         9.8|           2|                 0.0|
|    NULL|2020-01-27 09:41:00|2020-01-27 10:00:00|              NULL|      NULL|         210|          21|           NULL|         2.71|      17.65| 2.75|    0.5|       0.0|         0.0|                  0.3|        21.2|        NULL|                NULL|
|    NULL|2020-01-16 05:56:00|2020-01-16 06:47:00|              NULL|      NULL|         117|          33|           NULL|        17.17|      49.25| 2.75|    0.0|       0.0|        2.29|                  0.3|       54.59|        NULL|                NULL|
+--------+-------------------+-------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------------------+------------+------------+--------------------+
only showing top 20 rows

###  Adding service types to identify dataset

In [11]:
from pyspark.sql import functions as F

In [12]:
df_green_sel = df_green  \
        .select(common_colums)  \
        .withColumn('service_type',F.lit('green'))

In [13]:
df_yellow_sel = df_yellow  \
        .select(common_colums)  \
        .withColumn('service_type',F.lit('yellow'))

### 3: Combining yellow and green data

In [14]:
df_trips_data = df_green_sel.unionAll(df_yellow_sel)

In [15]:
df_trips_data.groupBy('service_type').count().show()

[Stage 3:======================================================>  (24 + 1) / 25]

+------------+--------+
|service_type|   count|
+------------+--------+
|       green| 2304517|
|      yellow|39649199|
+------------+--------+

### 4: Querying with SQL


#### Now we can see how to use SQL for querying this data. First, we need to tell Spark that this DataFrame is a table. For that, we use:

In [19]:
df_trips_data.registerTempTable('trips_data')

/opt/conda/lib/python3.10/site-packages/pyspark/sql/dataframe.py:329: FutureWarning: Deprecated in 2.0, use createOrReplaceTempView instead.
  warnings.warn("Deprecated in 2.0, use createOrReplaceTempView instead.", FutureWarning)

In [21]:
spark.sql("""
        SELECT * FROM trips_data LIMIT 10;
        """ ).show()

+--------+-------------------+-------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------------------+------------+------------+--------------------+------------+
|VendorID|    pickup_datetime|   dropoff_datetime|store_and_fwd_flag|RatecodeID|PULocationID|DOLocationID|passenger_count|trip_distance|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|payment_type|congestion_surcharge|service_type|
+--------+-------------------+-------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------------------+------------+------------+--------------------+------------+
|       1|2020-01-21 08:09:42|2020-01-21 08:24:52|                 N|         1|           7|          82|              1|          2.9|       14.0|  0.0|    0.5|       0.0|         0.0|                  0.3|        14.8|           2|                 0.0|       green|
|       2|2020-01-28 19:42:20|2020-01-28 19:51:10|                 N|         1|          95|         196|              1|         1.35|        7.5|  1.0|    0.5|       0.0|         0.0|                  0.3|         9.3|           2|                 0.0|       green|
|       1|2020-01-21 18:37:21|2020-01-21 18:54:06|                 N|         1|         244|          75|              1|          6.2|       19.0|  1.0|    0.5|       0.0|         0.0|                  0.3|        20.8|           2|                 0.0|       green|
|       2|2020-01-08 12:58:33|2020-01-08 13:10:08|                 N|         1|          42|          75|              1|         1.64|        9.0|  0.0|    0.5|       0.0|         0.0|                  0.3|         9.8|           2|                 0.0|       green|
|       2|2020-01-06 19:46:03|2020-01-06 19:51:46|                 N|         1|         146|           7|              1|         1.07|        6.0|  1.0|    0.5|      1.56|         0.0|                  0.3|        9.36|           1|                 0.0|       green|
|       2|2020-01-25 08:51:04|2020-01-25 08:59:32|                 N|         1|         127|         220|              1|         1.89|        8.5|  0.0|    0.5|       0.0|         0.0|                  0.3|         9.3|           2|                 0.0|       green|
|       2|2020-01-08 21:34:13|2020-01-08 21:39:04|                 N|         1|          75|          75|              1|         0.62|        5.0|  0.5|    0.5|       0.0|         0.0|                  0.3|         6.3|           1|                 0.0|       green|
|       2|2020-01-18 01:05:27|2020-01-18 01:10:43|                 N|         1|         166|         166|              2|         0.75|        5.0|  0.5|    0.5|       0.0|         0.0|                  0.3|         6.3|           2|                 0.0|       green|
|       1|2020-01-22 21:40:43|2020-01-22 21:52:01|                 N|         1|         255|          37|              1|          2.0|        9.0|  0.5|    0.5|       0.0|         0.0|                  0.3|        10.3|           3|                 0.0|       green|
|       2|2020-01-24 17:04:02|2020-01-24 17:15:11|                 N|         1|          83|         129|              1|         1.09|        8.0|  1.0|    0.5|      1.96|         0.0|                  0.3|       11.76|           1|                 0.0|       green|
+--------+-------------------+-------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------------------+------------+------------+--------------------+------------+

In [24]:

spark.sql("""
SELECT
    service_type,
    count(1)
FROM
    trips_data
GROUP BY 
    service_type
""").show()

[Stage 14:=====================================================>  (24 + 1) / 25]

+------------+--------+
|service_type|count(1)|
+------------+--------+
|       green| 2304517|
|      yellow|39649199|
+------------+--------+

#### Now let's execute this query from module 4:

In [27]:

df_result = spark.sql("""
SELECT 
    -- Reveneue grouping 
    PULocationID AS revenue_zone,
    date_trunc('month', pickup_datetime) AS revenue_month, 
    service_type, 

    -- Revenue calculation 
    SUM(fare_amount) AS revenue_monthly_fare,
    SUM(extra) AS revenue_monthly_extra,
    SUM(mta_tax) AS revenue_monthly_mta_tax,
    SUM(tip_amount) AS revenue_monthly_tip_amount,
    SUM(tolls_amount) AS revenue_monthly_tolls_amount,
    SUM(improvement_surcharge) AS revenue_monthly_improvement_surcharge,
    SUM(total_amount) AS revenue_monthly_total_amount,
    SUM(congestion_surcharge) AS revenue_monthly_congestion_surcharge,

    -- Additional calculations
    AVG(passenger_count) AS avg_montly_passenger_count,
    AVG(trip_distance) AS avg_montly_trip_distance
FROM
    trips_data
GROUP BY
    1, 2, 3
""")

In [28]:
df_result \
    .select('revenue_zone', 'revenue_month', 'service_type', 'revenue_monthly_total_amount', 'avg_montly_passenger_count') \
    .show()

[Stage 17:=====================================================>  (24 + 1) / 25]

+------------+-------------------+------------+----------------------------+--------------------------+
|revenue_zone|      revenue_month|service_type|revenue_monthly_total_amount|avg_montly_passenger_count|
+------------+-------------------+------------+----------------------------+--------------------------+
|         218|2020-01-01 00:00:00|       green|           27375.14999999997|        1.0754716981132075|
|          85|2020-01-01 00:00:00|       green|          22320.909999999938|        1.3349753694581281|
|         116|2019-12-01 00:00:00|       green|          29.439999999999998|                       1.0|
|          93|2020-02-01 00:00:00|       green|                     4123.47|         1.380952380952381|
|         143|2020-02-01 00:00:00|       green|          1640.8499999999997|                       1.0|
|         225|2020-02-01 00:00:00|       green|          47254.729999999836|        1.1892332789559543|
|         112|2020-01-01 00:00:00|       green|           27470.10999999961|        1.2766407904022583|
|         250|2020-02-01 00:00:00|       green|          17598.439999999977|        1.2394957983193278|
|          63|2020-02-01 00:00:00|       green|          11934.529999999988|        1.0609756097560976|
|         221|2020-02-01 00:00:00|       green|                      545.44|                       1.0|
|          67|2020-02-01 00:00:00|       green|           8141.520000000001|        1.1016949152542372|
|          39|2020-01-01 00:00:00|       green|           66334.85000000041|        1.2745098039215685|
|          26|2020-01-01 00:00:00|       green|          30034.899999999885|        1.1054852320675106|
|         147|2020-02-01 00:00:00|       green|          10140.270000000013|                   1.14375|
|         193|2020-01-01 00:00:00|       green|          27003.409999999632|        1.1738019169329073|
|         165|2020-01-01 00:00:00|       green|          27427.279999999944|        1.1891891891891893|
|         124|2020-01-01 00:00:00|       green|           8809.099999999997|        1.0185185185185186|
|         244|2020-01-01 00:00:00|       green|          232629.02999997846|          1.33827209930924|
|         136|2020-01-01 00:00:00|       green|          29808.709999999846|        1.1654411764705883|
|          36|2020-02-01 00:00:00|       green|          19849.419999999955|        1.4032846715328466|
+------------+-------------------+------------+----------------------------+--------------------------+
only showing top 20 rows

#### 5: Saving the result

In [29]:
df_result.coalesce(1).write.parquet('data/report/revenue/', mode='overwrite')