In [1]:
import pyspark
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/03/08 00:24:32 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
25/03/08 00:24:32 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [4]:
!wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/fhvhv/fhvhv_tripdata_2021-01.csv.gz

--2025-03-08 04:54:44--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/fhvhv/fhvhv_tripdata_2021-01.csv.gz
140.82.112.3thub.com (github.com)...
Connecting to github.com (github.com)|140.82.112.3|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/035746e8-4e24-47e8-a3ce-edcf6d1b11c7?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=releaseassetproduction%2F20250308%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20250308T045445Z&X-Amz-Expires=300&X-Amz-Signature=90fa8d0ba7ec1c3290bdc49d5b0823e35077694c348292fadb3c5e22dcff1505&X-Amz-SignedHeaders=host&response-content-disposition=attachment%3B%20filename%3Dfhvhv_tripdata_2021-01.csv.gz&response-content-type=application%2Foctet-stream [following]
--2025-03-08 04:54:44--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/035746e8-4e24-47e8-a3ce-edcf6d1b11c7?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=releaseassetproduction%2F20250308%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20250308T045445Z&X-Amz-Expires=300&X-Amz-Signature=90fa8d0ba7ec1c3290bdc49d5b0823e35077694c348292fadb3c5e22dcff1505&X-Amz-SignedHeaders=host&response-content-disposition=attachment%3B%20filename%3Dfhvhv_tripdata_2021-01.csv.gz&response-content-type=application%2Foctet-stream
185.199.109.133, 185.199.110.133, 185.199.111.133, ...busercontent.com)...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.109.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 129967421 (124M) [application/octet-stream]
Saving to: ‘fhvhv_tripdata_2021-01.csv.gz’

fhvhv_tripdata_2021 100%[===================>] 123.95M  23.8MB/s    in 5.3s

2025-03-08 04:54:54 (23.3 MB/s) - ‘fhvhv_tripdata_2021-01.csv.gz’ saved [129967421/129967421]

In [5]:
!gunzip fhvhv_tripdata_2021-01.csv.gz

In [3]:
df = spark.read \
    .option("header", "true") \
    .csv('fhvhv_tripdata_2021-01.csv')

In [4]:
df.show()

+-----------------+--------------------+-------------------+-------------------+------------+------------+-------+
|hvfhs_license_num|dispatching_base_num|    pickup_datetime|   dropoff_datetime|PULocationID|DOLocationID|SR_Flag|
+-----------------+--------------------+-------------------+-------------------+------------+------------+-------+
|           HV0003|              B02682|2021-01-01 00:33:44|2021-01-01 00:49:07|         230|         166|   NULL|
|           HV0003|              B02682|2021-01-01 00:55:19|2021-01-01 01:18:21|         152|         167|   NULL|
|           HV0003|              B02764|2021-01-01 00:23:56|2021-01-01 00:38:05|         233|         142|   NULL|
|           HV0003|              B02764|2021-01-01 00:42:51|2021-01-01 00:45:50|         142|         143|   NULL|
|           HV0003|              B02764|2021-01-01 00:48:14|2021-01-01 01:08:42|         143|          78|   NULL|
|           HV0005|              B02510|2021-01-01 00:06:59|2021-01-01 00:43:01|          88|          42|   NULL|
|           HV0005|              B02510|2021-01-01 00:50:00|2021-01-01 01:04:57|          42|         151|   NULL|
|           HV0003|              B02764|2021-01-01 00:14:30|2021-01-01 00:50:27|          71|         226|   NULL|
|           HV0003|              B02875|2021-01-01 00:22:54|2021-01-01 00:30:20|         112|         255|   NULL|
|           HV0003|              B02875|2021-01-01 00:40:12|2021-01-01 00:53:31|         255|         232|   NULL|
|           HV0003|              B02875|2021-01-01 00:56:45|2021-01-01 01:17:42|         232|         198|   NULL|
|           HV0003|              B02835|2021-01-01 00:29:04|2021-01-01 00:36:27|         113|          48|   NULL|
|           HV0003|              B02835|2021-01-01 00:48:56|2021-01-01 00:59:12|         239|          75|   NULL|
|           HV0004|              B02800|2021-01-01 00:15:24|2021-01-01 00:38:31|         181|         237|   NULL|
|           HV0004|              B02800|2021-01-01 00:45:00|2021-01-01 01:06:45|         236|          68|   NULL|
|           HV0003|              B02682|2021-01-01 00:11:53|2021-01-01 00:18:06|         256|         148|   NULL|
|           HV0003|              B02682|2021-01-01 00:28:31|2021-01-01 00:41:40|          79|          80|   NULL|
|           HV0003|              B02682|2021-01-01 00:50:49|2021-01-01 00:55:59|          17|         217|   NULL|
|           HV0005|              B02510|2021-01-01 00:08:40|2021-01-01 00:39:39|          62|          29|   NULL|
|           HV0003|              B02836|2021-01-01 00:53:48|2021-01-01 01:11:40|          22|          22|   NULL|
+-----------------+--------------------+-------------------+-------------------+------------+------------+-------+
only showing top 20 rows

In [5]:
df.schema

StructType([StructField('hvfhs_license_num', StringType(), True), StructField('dispatching_base_num', StringType(), True), StructField('pickup_datetime', StringType(), True), StructField('dropoff_datetime', StringType(), True), StructField('PULocationID', StringType(), True), StructField('DOLocationID', StringType(), True), StructField('SR_Flag', StringType(), True)])

In [6]:
df.printSchema()

root
 |-- hvfhs_license_num: string (nullable = true)
 |-- dispatching_base_num: string (nullable = true)
 |-- pickup_datetime: string (nullable = true)
 |-- dropoff_datetime: string (nullable = true)
 |-- PULocationID: string (nullable = true)
 |-- DOLocationID: string (nullable = true)
 |-- SR_Flag: string (nullable = true)

In [11]:
!head -n 101 fhvhv_tripdata_2021-01.csv > head.csv

In [17]:
!wc -l head.csv

101 head.csv

In [7]:
import numpy as np
np.__version__

'2.2.3'

In [22]:
! pip install --upgrade pandas

Requirement already satisfied: pandas in /opt/conda/lib/python3.10/site-packages (2.2.3)
Requirement already satisfied: numpy>=1.22.4 in /opt/conda/lib/python3.10/site-packages (from pandas) (2.2.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/conda/lib/python3.10/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in /opt/conda/lib/python3.10/site-packages (from pandas) (2025.1)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager, possibly rendering your system unusable. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv. Use the --root-user-action option if you know what you are doing and want to suppress this warning.

In [8]:
import pandas as pd
pd.__version__

'2.2.3'

In [9]:
df_pandas = pd.read_csv('head.csv')

In [10]:
df_pandas.dtypes

hvfhs_license_num        object
dispatching_base_num     object
pickup_datetime          object
dropoff_datetime         object
PULocationID              int64
DOLocationID              int64
SR_Flag                 float64
dtype: object

In [14]:
spark.createDataFrame(df_pandas).show()

+-----------------+--------------------+-------------------+-------------------+------------+------------+-------+
|hvfhs_license_num|dispatching_base_num|    pickup_datetime|   dropoff_datetime|PULocationID|DOLocationID|SR_Flag|
+-----------------+--------------------+-------------------+-------------------+------------+------------+-------+
|           HV0003|              B02682|2021-01-01 00:33:44|2021-01-01 00:49:07|         230|         166|    NaN|
|           HV0003|              B02682|2021-01-01 00:55:19|2021-01-01 01:18:21|         152|         167|    NaN|
|           HV0003|              B02764|2021-01-01 00:23:56|2021-01-01 00:38:05|         233|         142|    NaN|
|           HV0003|              B02764|2021-01-01 00:42:51|2021-01-01 00:45:50|         142|         143|    NaN|
|           HV0003|              B02764|2021-01-01 00:48:14|2021-01-01 01:08:42|         143|          78|    NaN|
|           HV0005|              B02510|2021-01-01 00:06:59|2021-01-01 00:43:01|          88|          42|    NaN|
|           HV0005|              B02510|2021-01-01 00:50:00|2021-01-01 01:04:57|          42|         151|    NaN|
|           HV0003|              B02764|2021-01-01 00:14:30|2021-01-01 00:50:27|          71|         226|    NaN|
|           HV0003|              B02875|2021-01-01 00:22:54|2021-01-01 00:30:20|         112|         255|    NaN|
|           HV0003|              B02875|2021-01-01 00:40:12|2021-01-01 00:53:31|         255|         232|    NaN|
|           HV0003|              B02875|2021-01-01 00:56:45|2021-01-01 01:17:42|         232|         198|    NaN|
|           HV0003|              B02835|2021-01-01 00:29:04|2021-01-01 00:36:27|         113|          48|    NaN|
|           HV0003|              B02835|2021-01-01 00:48:56|2021-01-01 00:59:12|         239|          75|    NaN|
|           HV0004|              B02800|2021-01-01 00:15:24|2021-01-01 00:38:31|         181|         237|    NaN|
|           HV0004|              B02800|2021-01-01 00:45:00|2021-01-01 01:06:45|         236|          68|    NaN|
|           HV0003|              B02682|2021-01-01 00:11:53|2021-01-01 00:18:06|         256|         148|    NaN|
|           HV0003|              B02682|2021-01-01 00:28:31|2021-01-01 00:41:40|          79|          80|    NaN|
|           HV0003|              B02682|2021-01-01 00:50:49|2021-01-01 00:55:59|          17|         217|    NaN|
|           HV0005|              B02510|2021-01-01 00:08:40|2021-01-01 00:39:39|          62|          29|    NaN|
|           HV0003|              B02836|2021-01-01 00:53:48|2021-01-01 01:11:40|          22|          22|    NaN|
+-----------------+--------------------+-------------------+-------------------+------------+------------+-------+
only showing top 20 rows

In [13]:
df_pandas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 7 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   hvfhs_license_num     100 non-null    object
 1   dispatching_base_num  100 non-null    object
 2   pickup_datetime       100 non-null    object
 3   dropoff_datetime      100 non-null    object
 4   PULocationID          100 non-null    int64
 5   DOLocationID          100 non-null    int64
 6   SR_Flag               0 non-null      float64
dtypes: float64(1), int64(2), object(4)
memory usage: 5.6+ KB

In [15]:
spark.createDataFrame(df_pandas).schema

StructType([StructField('hvfhs_license_num', StringType(), True), StructField('dispatching_base_num', StringType(), True), StructField('pickup_datetime', StringType(), True), StructField('dropoff_datetime', StringType(), True), StructField('PULocationID', LongType(), True), StructField('DOLocationID', LongType(), True), StructField('SR_Flag', DoubleType(), True)])

In [19]:
from pyspark.sql import types
from pyspark.sql.types import StructType

In [20]:
schema = types.StructType([
    types.StructField('hvfhs_license_num', types.StringType(), True), 
    types.StructField('dispatching_base_num', types.StringType(), True), 
    types.StructField('pickup_datetime', types.TimestampType(), True), 
    types.StructField('dropoff_datetime', types.TimestampType(), True), 
    types.StructField('PULocationID', types.IntegerType(), True), 
    types.StructField('DOLocationID', types.IntegerType(), True), 
    types.StructField('SR_Flag', types.StringType(), True)
])

In [21]:
df = spark.read \
        .option("header","true") \
        .schema(schema)  \
        .csv('fhvhv_tripdata_2021-01.csv')

In [22]:
df.show()

+-----------------+--------------------+-------------------+-------------------+------------+------------+-------+
|hvfhs_license_num|dispatching_base_num|    pickup_datetime|   dropoff_datetime|PULocationID|DOLocationID|SR_Flag|
+-----------------+--------------------+-------------------+-------------------+------------+------------+-------+
|           HV0003|              B02682|2021-01-01 00:33:44|2021-01-01 00:49:07|         230|         166|   NULL|
|           HV0003|              B02682|2021-01-01 00:55:19|2021-01-01 01:18:21|         152|         167|   NULL|
|           HV0003|              B02764|2021-01-01 00:23:56|2021-01-01 00:38:05|         233|         142|   NULL|
|           HV0003|              B02764|2021-01-01 00:42:51|2021-01-01 00:45:50|         142|         143|   NULL|
|           HV0003|              B02764|2021-01-01 00:48:14|2021-01-01 01:08:42|         143|          78|   NULL|
|           HV0005|              B02510|2021-01-01 00:06:59|2021-01-01 00:43:01|          88|          42|   NULL|
|           HV0005|              B02510|2021-01-01 00:50:00|2021-01-01 01:04:57|          42|         151|   NULL|
|           HV0003|              B02764|2021-01-01 00:14:30|2021-01-01 00:50:27|          71|         226|   NULL|
|           HV0003|              B02875|2021-01-01 00:22:54|2021-01-01 00:30:20|         112|         255|   NULL|
|           HV0003|              B02875|2021-01-01 00:40:12|2021-01-01 00:53:31|         255|         232|   NULL|
|           HV0003|              B02875|2021-01-01 00:56:45|2021-01-01 01:17:42|         232|         198|   NULL|
|           HV0003|              B02835|2021-01-01 00:29:04|2021-01-01 00:36:27|         113|          48|   NULL|
|           HV0003|              B02835|2021-01-01 00:48:56|2021-01-01 00:59:12|         239|          75|   NULL|
|           HV0004|              B02800|2021-01-01 00:15:24|2021-01-01 00:38:31|         181|         237|   NULL|
|           HV0004|              B02800|2021-01-01 00:45:00|2021-01-01 01:06:45|         236|          68|   NULL|
|           HV0003|              B02682|2021-01-01 00:11:53|2021-01-01 00:18:06|         256|         148|   NULL|
|           HV0003|              B02682|2021-01-01 00:28:31|2021-01-01 00:41:40|          79|          80|   NULL|
|           HV0003|              B02682|2021-01-01 00:50:49|2021-01-01 00:55:59|          17|         217|   NULL|
|           HV0005|              B02510|2021-01-01 00:08:40|2021-01-01 00:39:39|          62|          29|   NULL|
|           HV0003|              B02836|2021-01-01 00:53:48|2021-01-01 01:11:40|          22|          22|   NULL|
+-----------------+--------------------+-------------------+-------------------+------------+------------+-------+
only showing top 20 rows

In [24]:
df.printSchema()

root
 |-- hvfhs_license_num: string (nullable = true)
 |-- dispatching_base_num: string (nullable = true)
 |-- pickup_datetime: timestamp (nullable = true)
 |-- dropoff_datetime: timestamp (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- SR_Flag: string (nullable = true)

In [25]:
df = df.repartition(24)

In [26]:
df.write.parquet('fhvhv/2021/01/')

25/03/08 01:53:27 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers
25/03/08 01:53:27 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 84.44% for 9 writers
25/03/08 01:53:27 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 76.00% for 10 writers
25/03/08 01:53:27 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 69.09% for 11 writers
25/03/08 01:53:27 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 63.33% for 12 writers
25/03/08 01:53:30 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 69.09% for 11 writers
25/03/08 01:53:30 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 76.00% for 10 writers
25/03/08 01:53:30 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 84.44% for 9 writers
25/03/08 01:53:30 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers
25/03/08 01:53:30 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers
25/03/08 01:53:30 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 84.44% for 9 writers
25/03/08 01:53:30 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 76.00% for 10 writers
25/03/08 01:53:30 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 69.09% for 11 writers
25/03/08 01:53:30 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 63.33% for 12 writers
25/03/08 01:53:33 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 69.09% for 11 writers
25/03/08 01:53:33 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 76.00% for 10 writers
25/03/08 01:53:33 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 84.44% for 9 writers
25/03/08 01:53:33 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers

In [28]:
df.write.parquet('fhvhv/2021/01/',mode='overwrite')

25/03/08 02:00:19 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers
25/03/08 02:00:19 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 84.44% for 9 writers
25/03/08 02:00:19 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 76.00% for 10 writers
25/03/08 02:00:19 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 69.09% for 11 writers
25/03/08 02:00:19 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 63.33% for 12 writers
25/03/08 02:00:21 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 69.09% for 11 writers
25/03/08 02:00:21 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 76.00% for 10 writers
25/03/08 02:00:21 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 69.09% for 11 writers
25/03/08 02:00:21 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 63.33% for 12 writers
25/03/08 02:00:21 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 69.09% for 11 writers
25/03/08 02:00:21 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 76.00% for 10 writers
25/03/08 02:00:22 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 69.09% for 11 writers
25/03/08 02:00:22 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 76.00% for 10 writers
25/03/08 02:00:22 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 84.44% for 9 writers
25/03/08 02:00:22 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 76.00% for 10 writers
25/03/08 02:00:22 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 84.44% for 9 writers
25/03/08 02:00:22 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers
25/03/08 02:00:22 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers
25/03/08 02:00:22 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 84.44% for 9 writers
25/03/08 02:00:22 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 76.00% for 10 writers
25/03/08 02:00:22 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 69.09% for 11 writers
25/03/08 02:00:22 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 63.33% for 12 writers
25/03/08 02:00:23 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 69.09% for 11 writers
25/03/08 02:00:23 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 76.00% for 10 writers
25/03/08 02:00:24 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 84.44% for 9 writers
25/03/08 02:00:24 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers

## Spark DataFrames

In [41]:
df = spark.read.parquet('fhvhv/2021/01/')

In [42]:
df.printSchema()

root
 |-- hvfhs_license_num: string (nullable = true)
 |-- dispatching_base_num: string (nullable = true)
 |-- pickup_datetime: timestamp (nullable = true)
 |-- dropoff_datetime: timestamp (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- SR_Flag: string (nullable = true)

In [43]:
df.show()

+-----------------+--------------------+-------------------+-------------------+------------+------------+-------+
|hvfhs_license_num|dispatching_base_num|    pickup_datetime|   dropoff_datetime|PULocationID|DOLocationID|SR_Flag|
+-----------------+--------------------+-------------------+-------------------+------------+------------+-------+
|           HV0005|              B02510|2021-01-02 11:31:29|2021-01-02 11:37:35|          28|         130|   NULL|
|           HV0003|              B02877|2021-01-03 15:59:58|2021-01-03 16:13:50|         144|         261|   NULL|
|           HV0005|              B02510|2021-01-02 20:41:20|2021-01-02 20:58:35|         138|         232|   NULL|
|           HV0005|              B02510|2021-01-02 12:32:53|2021-01-02 12:37:51|          42|         116|   NULL|
|           HV0003|              B02869|2021-01-01 14:39:29|2021-01-01 14:59:45|         148|          68|   NULL|
|           HV0003|              B02880|2021-01-01 07:25:16|2021-01-01 07:50:46|          61|          76|   NULL|
|           HV0003|              B02878|2021-01-02 01:05:28|2021-01-02 01:11:40|          42|          42|   NULL|
|           HV0003|              B02887|2021-01-02 13:01:44|2021-01-02 13:25:23|         155|         177|   NULL|
|           HV0003|              B02878|2021-01-01 05:51:46|2021-01-01 06:03:24|          49|         177|   NULL|
|           HV0003|              B02765|2021-01-01 02:12:08|2021-01-01 02:19:49|          94|         174|   NULL|
|           HV0003|              B02879|2021-01-01 02:17:17|2021-01-01 02:34:03|          42|           4|   NULL|
|           HV0003|              B02764|2021-01-01 01:05:04|2021-01-01 01:17:42|         231|         265|   NULL|
|           HV0003|              B02883|2021-01-03 01:05:38|2021-01-03 01:09:14|         229|         141|   NULL|
|           HV0003|              B02880|2021-01-03 00:37:31|2021-01-03 01:01:18|         179|          14|   NULL|
|           HV0003|              B02867|2021-01-01 17:23:04|2021-01-01 17:44:37|          76|          91|   NULL|
|           HV0005|              B02510|2021-01-03 18:43:20|2021-01-03 18:54:21|           7|         129|   NULL|
|           HV0003|              B02878|2021-01-01 21:10:25|2021-01-01 21:30:13|         263|          69|   NULL|
|           HV0005|              B02510|2021-01-02 03:18:36|2021-01-02 03:42:58|         262|         198|   NULL|
|           HV0003|              B02764|2021-01-01 14:22:54|2021-01-01 14:46:51|         229|          73|   NULL|
|           HV0003|              B02395|2021-01-01 15:50:41|2021-01-01 15:56:03|         130|         130|   NULL|
+-----------------+--------------------+-------------------+-------------------+------------+------------+-------+
only showing top 20 rows

In [46]:
df.select('pickup_datetime','dropoff_datetime','PULocationID','DOLocationID') \
    .filter(df.hvfhs_license_num == 'HV0003')

DataFrame[pickup_datetime: timestamp, dropoff_datetime: timestamp, PULocationID: int, DOLocationID: int]

In [50]:
df.select('pickup_datetime','dropoff_datetime','PULocationID','DOLocationID').filter(df.hvfhs_license_num == 'HV0003').take(2)

[Row(pickup_datetime=datetime.datetime(2021, 1, 3, 20, 59, 58), dropoff_datetime=datetime.datetime(2021, 1, 3, 21, 13, 50), PULocationID=144, DOLocationID=261),
 Row(pickup_datetime=datetime.datetime(2021, 1, 1, 19, 39, 29), dropoff_datetime=datetime.datetime(2021, 1, 1, 19, 59, 45), PULocationID=148, DOLocationID=68)]

In [52]:
from pyspark.sql import functions as F

In [55]:
df \
    .withColumn('pickup_date', F.to_date(df.pickup_datetime)) \
    .withColumn('dropoff_date', F.to_date(df.dropoff_datetime)) \
    .select('pickup_date','dropoff_date','PULocationID','DOLocationID','pickup_datetime','dropoff_datetime') \
    .show()

+-----------+------------+------------+------------+-------------------+-------------------+
|pickup_date|dropoff_date|PULocationID|DOLocationID|    pickup_datetime|   dropoff_datetime|
+-----------+------------+------------+------------+-------------------+-------------------+
| 2021-01-02|  2021-01-02|          28|         130|2021-01-02 11:31:29|2021-01-02 11:37:35|
| 2021-01-03|  2021-01-03|         144|         261|2021-01-03 15:59:58|2021-01-03 16:13:50|
| 2021-01-02|  2021-01-02|         138|         232|2021-01-02 20:41:20|2021-01-02 20:58:35|
| 2021-01-02|  2021-01-02|          42|         116|2021-01-02 12:32:53|2021-01-02 12:37:51|
| 2021-01-01|  2021-01-01|         148|          68|2021-01-01 14:39:29|2021-01-01 14:59:45|
| 2021-01-01|  2021-01-01|          61|          76|2021-01-01 07:25:16|2021-01-01 07:50:46|
| 2021-01-02|  2021-01-02|          42|          42|2021-01-02 01:05:28|2021-01-02 01:11:40|
| 2021-01-02|  2021-01-02|         155|         177|2021-01-02 13:01:44|2021-01-02 13:25:23|
| 2021-01-01|  2021-01-01|          49|         177|2021-01-01 05:51:46|2021-01-01 06:03:24|
| 2021-01-01|  2021-01-01|          94|         174|2021-01-01 02:12:08|2021-01-01 02:19:49|
| 2021-01-01|  2021-01-01|          42|           4|2021-01-01 02:17:17|2021-01-01 02:34:03|
| 2021-01-01|  2021-01-01|         231|         265|2021-01-01 01:05:04|2021-01-01 01:17:42|
| 2021-01-03|  2021-01-03|         229|         141|2021-01-03 01:05:38|2021-01-03 01:09:14|
| 2021-01-03|  2021-01-03|         179|          14|2021-01-03 00:37:31|2021-01-03 01:01:18|
| 2021-01-01|  2021-01-01|          76|          91|2021-01-01 17:23:04|2021-01-01 17:44:37|
| 2021-01-03|  2021-01-03|           7|         129|2021-01-03 18:43:20|2021-01-03 18:54:21|
| 2021-01-01|  2021-01-01|         263|          69|2021-01-01 21:10:25|2021-01-01 21:30:13|
| 2021-01-02|  2021-01-02|         262|         198|2021-01-02 03:18:36|2021-01-02 03:42:58|
| 2021-01-01|  2021-01-01|         229|          73|2021-01-01 14:22:54|2021-01-01 14:46:51|
| 2021-01-01|  2021-01-01|         130|         130|2021-01-01 15:50:41|2021-01-01 15:56:03|
+-----------+------------+------------+------------+-------------------+-------------------+
only showing top 20 rows

In [59]:
def crazy_stuff(base_num):
    num = int(base_num[1:])
    if num%7 == 0:
        return f's/{num:03x}'
    elif num%3 == 0:
        return f'a/{num:03x}'
    else:
        return f'e/{num:03x}'

In [60]:
crazy_stuff('B02880')

'a/b40'

In [61]:
crazy_stuff_udf = F.udf(crazy_stuff, types.StringType())

In [62]:
df \
    .withColumn('pickup_date', F.to_date(df.pickup_datetime)) \
    .withColumn('dropoff_date', F.to_date(df.dropoff_datetime)) \
    .withColumn('base_id', crazy_stuff_udf(df.dispatching_base_num)) \
    .select('base_id','pickup_date','dropoff_date','PULocationID','DOLocationID','pickup_datetime','dropoff_datetime') \
    .show()

[Stage 48:>                                                         (0 + 1) / 1]

+-------+-----------+------------+------------+------------+-------------------+-------------------+
|base_id|pickup_date|dropoff_date|PULocationID|DOLocationID|    pickup_datetime|   dropoff_datetime|
+-------+-----------+------------+------------+------------+-------------------+-------------------+
|  e/9ce| 2021-01-02|  2021-01-02|          28|         130|2021-01-02 11:31:29|2021-01-02 11:37:35|
|  s/b3d| 2021-01-03|  2021-01-03|         144|         261|2021-01-03 15:59:58|2021-01-03 16:13:50|
|  e/9ce| 2021-01-02|  2021-01-02|         138|         232|2021-01-02 20:41:20|2021-01-02 20:58:35|
|  e/9ce| 2021-01-02|  2021-01-02|          42|         116|2021-01-02 12:32:53|2021-01-02 12:37:51|
|  e/b35| 2021-01-01|  2021-01-01|         148|          68|2021-01-01 14:39:29|2021-01-01 14:59:45|
|  a/b40| 2021-01-01|  2021-01-01|          61|          76|2021-01-01 07:25:16|2021-01-01 07:50:46|
|  e/b3e| 2021-01-02|  2021-01-02|          42|          42|2021-01-02 01:05:28|2021-01-02 01:11:40|
|  e/b47| 2021-01-02|  2021-01-02|         155|         177|2021-01-02 13:01:44|2021-01-02 13:25:23|
|  e/b3e| 2021-01-01|  2021-01-01|          49|         177|2021-01-01 05:51:46|2021-01-01 06:03:24|
|  s/acd| 2021-01-01|  2021-01-01|          94|         174|2021-01-01 02:12:08|2021-01-01 02:19:49|
|  e/b3f| 2021-01-01|  2021-01-01|          42|           4|2021-01-01 02:17:17|2021-01-01 02:34:03|
|  e/acc| 2021-01-01|  2021-01-01|         231|         265|2021-01-01 01:05:04|2021-01-01 01:17:42|
|  a/b43| 2021-01-03|  2021-01-03|         229|         141|2021-01-03 01:05:38|2021-01-03 01:09:14|
|  a/b40| 2021-01-03|  2021-01-03|         179|          14|2021-01-03 00:37:31|2021-01-03 01:01:18|
|  e/b33| 2021-01-01|  2021-01-01|          76|          91|2021-01-01 17:23:04|2021-01-01 17:44:37|
|  e/9ce| 2021-01-03|  2021-01-03|           7|         129|2021-01-03 18:43:20|2021-01-03 18:54:21|
|  e/b3e| 2021-01-01|  2021-01-01|         263|          69|2021-01-01 21:10:25|2021-01-01 21:30:13|
|  e/9ce| 2021-01-02|  2021-01-02|         262|         198|2021-01-02 03:18:36|2021-01-02 03:42:58|
|  e/acc| 2021-01-01|  2021-01-01|         229|          73|2021-01-01 14:22:54|2021-01-01 14:46:51|
|  e/95b| 2021-01-01|  2021-01-01|         130|         130|2021-01-01 15:50:41|2021-01-01 15:56:03|
+-------+-----------+------------+------------+------------+-------------------+-------------------+
only showing top 20 rows