## Access the Dataset

### Data Loading

In [3]:
import pandas as pd

pd.__version__

'2.2.2'

Here we will be using the .parquet file we downloaded and do the following:

* Check metadata and table datatypes of the parquet file/table
* Convert the paraquet file to pandas dataframe and check the datatypes. Additionally check the data dictionary to make sure you have the right datatypes in pandas, as pandas will automatically create the table in our database.
* Generate the DDL CREATE statement from pandas for a sanity check.
* Create a connection to our database using SQLAlchemy
* Convert our huge parquet file into a iterable that has batches of 100,000 rows and load it into our database.

In [5]:
import subprocess
url="https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2023-09.parquet"
subprocess.run(["wget",url])

CompletedProcess(args=['wget', 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2023-09.parquet'], returncode=0)

In [7]:
pip install pyarrow

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pyarrow in c:\users\dilip\appdata\roaming\python\python312\site-packages (19.0.0)
Note: you may need to restart the kernel to use updated packages.

In [8]:
import pyarrow.parquet as pq
from time import time

In [11]:
# Read metadata 
pq.read_metadata('yellow_tripdata_2023-09.parquet')

<pyarrow._parquet.FileMetaData object at 0x0000023CF2AD0900>
  created_by: parquet-cpp-arrow version 13.0.0
  num_columns: 19
  num_rows: 2846722
  num_row_groups: 3
  format_version: 2.6
  serialized_size: 6357

In [13]:
# Read file, read the table from file and check schema
file = pq.ParquetFile('yellow_tripdata_2023-09.parquet')
print(file)
table = file.read()
table.schema

<pyarrow.parquet.core.ParquetFile object at 0x0000023CF1710830>

VendorID: int32
tpep_pickup_datetime: timestamp[us]
tpep_dropoff_datetime: timestamp[us]
passenger_count: int64
trip_distance: double
RatecodeID: int64
store_and_fwd_flag: large_string
PULocationID: int32
DOLocationID: int32
payment_type: int64
fare_amount: double
extra: double
mta_tax: double
tip_amount: double
tolls_amount: double
improvement_surcharge: double
total_amount: double
congestion_surcharge: double
Airport_fee: double

In [15]:
# Convert to pandas and check data 
df = table.to_pandas()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2846722 entries, 0 to 2846721
Data columns (total 19 columns):
 #   Column                 Dtype
---  ------                 -----
 0   VendorID               int32
 1   tpep_pickup_datetime   datetime64[us]
 2   tpep_dropoff_datetime  datetime64[us]
 3   passenger_count        float64
 4   trip_distance          float64
 5   RatecodeID             float64
 6   store_and_fwd_flag     object
 7   PULocationID           int32
 8   DOLocationID           int32
 9   payment_type           int64
 10  fare_amount            float64
 11  extra                  float64
 12  mta_tax                float64
 13  tip_amount             float64
 14  tolls_amount           float64
 15  improvement_surcharge  float64
 16  total_amount           float64
 17  congestion_surcharge   float64
 18  Airport_fee            float64
dtypes: datetime64[us](2), float64(12), int32(3), int64(1), object(1)
memory usage: 380.1+ MB

### We need to first create the connection to our postgres database. We can feed the connection information to generate the CREATE SQL query for the specific server. SQLAlchemy supports a variety of servers.

In [17]:
# pip install psycopg2

Defaulting to user installation because normal site-packages is not writeable
Collecting psycopg2
  Downloading psycopg2-2.9.10-cp312-cp312-win_amd64.whl.metadata (5.0 kB)
Downloading psycopg2-2.9.10-cp312-cp312-win_amd64.whl (1.2 MB)
   ---------------------------------------- 0.0/1.2 MB ? eta -:--:--
   ---------------------------------------- 0.0/1.2 MB ? eta -:--:--
   ------------------ --------------------- 0.5/1.2 MB 2.1 MB/s eta 0:00:01
   ------------------------------------ --- 1.0/1.2 MB 2.1 MB/s eta 0:00:01
   ---------------------------------------- 1.2/1.2 MB 2.1 MB/s eta 0:00:00
Installing collected packages: psycopg2
Successfully installed psycopg2-2.9.10
Note: you may need to restart the kernel to use updated packages.

In [62]:
# Create an open SQL database connection object or a SQLAlchemy connectable

from sqlalchemy import create_engine

engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')
engine.connect()

In [64]:
query = """

SELECT 1;

"""

pd.read_sql(query,con=engine)

   ?column?
0         1

In [45]:
# Generate CREATE SQL statement from schema for validation

print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" INTEGER,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" INTEGER,
	"DOLocationID" INTEGER,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53),
	"Airport_fee" FLOAT(53)
)

``` Datatypes for the table looks good! Since we used paraquet file the datasets seem to have been preserved. You may have to convert some datatypes so it is always good to do this check.
```

``` 
Datatypes for the table looks good! Since we used paraquet file the datasets seem to have been preserved. You may have to convert some datatypes so it is always good to do this check.


````

## Finally inserting data

```
There are 2,846,722 rows in our dataset. We are going to use the parquet_file.iter_batches() function to create batches of 100,000, convert them into pandas and then load it into the postgres database.
```

In [21]:
#This part is for testing

# Creating batches of 100,000 for the parquet file
batches_iter = file.iter_batches(batch_size=100000)
batches_iter

# Take the first batch for testing
df = next(batches_iter).to_pandas()
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee
0,1,2023-09-01 00:15:37,2023-09-01 00:20:21,1,0.80,1,N,163,230,2,6.5,3.5,0.5,0.00,0.00,1.0,11.50,2.5,0.00
1,2,2023-09-01 00:18:40,2023-09-01 00:30:28,2,2.34,1,N,236,233,1,14.2,1.0,0.5,2.00,0.00,1.0,21.20,2.5,0.00
2,2,2023-09-01 00:35:01,2023-09-01 00:39:04,1,1.62,1,N,162,236,1,8.6,1.0,0.5,2.00,0.00,1.0,15.60,2.5,0.00
3,2,2023-09-01 00:45:45,2023-09-01 00:47:37,1,0.74,1,N,141,229,1,5.1,1.0,0.5,1.00,0.00,1.0,11.10,2.5,0.00
4,2,2023-09-01 00:01:23,2023-09-01 00:38:05,1,9.85,1,N,138,230,1,45.0,6.0,0.5,17.02,0.00,1.0,73.77,2.5,1.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,2,2023-09-02 09:55:17,2023-09-02 10:01:45,2,1.48,1,N,163,164,1,9.3,0.0,0.5,2.66,0.00,1.0,15.96,2.5,0.00
99996,2,2023-09-02 09:25:34,2023-09-02 09:55:20,3,17.49,2,N,132,164,1,70.0,0.0,0.5,24.28,6.94,1.0,106.97,2.5,1.75
99997,2,2023-09-02 09:57:55,2023-09-02 10:04:52,1,1.73,1,N,164,249,1,10.0,0.0,0.5,2.80,0.00,1.0,16.80,2.5,0.00
99998,2,2023-09-02 09:35:02,2023-09-02 09:43:28,1,1.32,1,N,113,170,1,10.0,0.0,0.5,4.20,0.00,1.0,18.20,2.5,0.00
99999,2,2023-09-02 09:46:09,2023-09-02 10:03:58,1,8.79,1,N,138,170,1,35.9,5.0,0.5,10.37,6.94,1.0,63.96,2.5,1.75

In [47]:
# Creating just the table in postgres
df.head(0).to_sql(name='yellow_taxi_data',con=engine, if_exists='replace')

0

In [49]:
# Insert values into the table 
t_start = time()
count = 0

for batch in file.iter_batches(batch_size=100000):
    count += 1
    batch_df = batch.to_pandas()
    print(f'Inserting batch {count}....')
    b_start = time()

    batch_df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')
    b_end = time()
    print(f'Inserted! time taken {b_end - b_start:10.3f} seconds. \n')

t_end = time()
print(f'Completed! Total time taken was {t_end - t_start:10.3f} seconds for {count} batches.')

Inserting batch 1....
Inserted! time taken     12.412 seconds.

Inserting batch 2....
Inserted! time taken     12.679 seconds.

Inserting batch 3....
Inserted! time taken     12.921 seconds.

Inserting batch 4....
Inserted! time taken     14.118 seconds.

Inserting batch 5....
Inserted! time taken     12.883 seconds.

Inserting batch 6....
Inserted! time taken     12.509 seconds.

Inserting batch 7....
Inserted! time taken     13.961 seconds.

Inserting batch 8....
Inserted! time taken     13.441 seconds.

Inserting batch 9....
Inserted! time taken     14.207 seconds.

Inserting batch 10....
Inserted! time taken     13.602 seconds.

Inserting batch 11....
Inserted! time taken     13.326 seconds.

Inserting batch 12....
Inserted! time taken     12.686 seconds.

Inserting batch 13....
Inserted! time taken     12.678 seconds.

Inserting batch 14....
Inserted! time taken     14.356 seconds.

Inserting batch 15....
Inserted! time taken     13.813 seconds.

Inserting batch 16....
Inserted! time taken     13.217 seconds.

Inserting batch 17....
Inserted! time taken     12.852 seconds.

Inserting batch 18....
Inserted! time taken     13.481 seconds.

Inserting batch 19....
Inserted! time taken     12.956 seconds.

Inserting batch 20....
Inserted! time taken     12.798 seconds.

Inserting batch 21....
Inserted! time taken     13.028 seconds.

Inserting batch 22....
Inserted! time taken     12.955 seconds.

Inserting batch 23....
Inserted! time taken     12.873 seconds.

Inserting batch 24....
Inserted! time taken     13.002 seconds.

Inserting batch 25....
Inserted! time taken     12.983 seconds.

Inserting batch 26....
Inserted! time taken     12.780 seconds.

Inserting batch 27....
Inserted! time taken     13.094 seconds.

Inserting batch 28....
Inserted! time taken     12.396 seconds.

Inserting batch 29....
Inserted! time taken      5.796 seconds.

Completed! Total time taken was    374.036 seconds for 29 batches.

In [51]:
query = """

SELECT count(*) from yellow_taxi_data;

"""

pd.read_sql(query,con=engine)

     count
0  2846722

## Extra bit

```
While trying to do the SQL Refresher, there was a need to add a lookup zones table but the file is in .csv format.

Let's code to handle both .csv and .parquet files!

```

In [30]:
from time import time
import pandas as pd
import pyarrow.parquet as pq
from sqlalchemy import create_engine

In [43]:
url_list = ['https://d37ci6vzurychx.cloudfront.net/misc/taxi+_zone_lookup.csv', 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2023-09.parquet']
url=[]
for r in url_list:
    fname = r.rsplit('/', 1)[-1].strip()
    if '.csv' in fname:
        print('yay!')
        df = pd.read_csv(fname, nrows=10)
        df_iter = pd.read_csv(fname, iterator=True, chunksize=100000)
    elif '.parquet' in fname:
        print('oh yeahh!')
        file=pq.ParquetFile(fname)
        df = next(file.iter_batches(batchsize=10)).to_pandas()
        df_iter = file.iter_batches(batchsize=100000)
    else:
        print('Error. Only .csv or .parquet files allowed.')
        sys.exit()

['taxi+_zone_lookup.csv', 'yellow_tripdata_2023-09.parquet']